.tituloEditPassword {
  margin-top: 40px;
  text-align: center;
  color: rgb(150, 94, 202);
  text-shadow:  0.5px 0.5px rgb(30, 128, 64);
}

.formEditPassword {
  display: flex;
  flex-direction: column;
  margin: 40px;
  justify-content: center;

}

.editFieldEditPassword {
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: rgb(150, 94, 202);
    font-weight: bold;
    border: 2px solid rgb(150, 94, 202);
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(30, 128, 64);
    gap: 5px;
}

.labelEditPassword {
  text-shadow: 0.6px 0.4px rgb(30, 128, 64);
}

.inputEditPassword {
    height: 30px;
    border: none;
    border-bottom: 3px solid rgb(150, 94, 202);
    background-color: rgb(140, 246, 163);
    color: rgb(150, 94, 202);
    outline-color:darkorchid;
    padding: 5px;
}

.inputEditPassword:focus {
    background: linear-gradient(to bottom, transparent, rgb(184, 245, 197));
    border-bottom: 3px solid rgb(199, 157, 239);
  }

 
  .divButtonEdit {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  }

  .userButtonPassword {
    background: rgb(150, 94, 202);
    color: white;
    border-radius: 5px;
    padding: 0.2rem 2rem;
    border: 0;
    font-weight: bold;
    box-shadow: 0.5px 0.5px 0.5px 0.3px  rgb(32, 64, 43);
    text-shadow:  0.1px 0.1px black;
}

.userButtonPassword:hover {
  background: rgb(141, 54, 222);
}

.userButtonPassword:active {
  background: linear-gradient(to bottom, transparent, rgb(114, 44, 184));
}


  @media (min-width: 600px) {
   
    .formEditPassword {
max-width: 600px;
margin-left: auto;
margin-right: auto;
    }
  }
